@font-face
{
    font-family: "OpenSans";
    src: url('OpenSans-CondBold.ttf');
}

.home_menu
{
	font-size: 14px;
    color: #ffffff;
	line-height:47px;
	text-align:center;
	font-family:OpenSans,Arial,Tahoma;
}


.home_menu a:link,.home_menu a:visited
{
    color: #ffffff;
	text-decoration:none;
}

.home_menu a:hover
{
    color: #ffffff;
	text-decoration:none;
}



.box_menu{
    height: 47px;
}
.left_menu_top
{
	background-image:url(../images/bg_menu_left.png);
	background-repeat:no-repeat;
	width:100px;
	height:47px;
}

.right_menu_top
{
	background-image:url(../images/bg_menu_right.png);
	background-repeat:no-repeat;
	width:20px;
	height:47px;
}

.bg_menu_top
{
	background-image:url(../images/bg_menu_center.png);
	background-repeat:repeat-x;
	width:900px;
	height:47px;
}
.bg_menu_top .level1:hover
{
	background-image:url(../images/bg_menu_right.png);
	background-repeat:repeat-x;
}

#nav, #nav ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	top:-1px;
}

#nav a
{
	display:block;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
}



.level1
{
	height:47px;
	line-height:47px;
	color:#ffffff;
	background-image:url(../images/mune_line.png);
	background-repeat:no-repeat;
	background-position:0px 2px;
    font-weight: 500;
    font-size: 14px;
}

.level2,.level3,.level4,.level5
{
	height:35px;
	line-height:35px;
	background-color:#4491BB;
	font-size: 12px;
	font-family:Arial,Tahoma;
	color:#ffffff;
    
}

.level2:hover,.level3:hover,.level4:hover,.level5:hover
{
	background-color:#CFCFCF;
}

.level1 a
{

	color:#ffffff;
	
}

#nav a:hover
{
	color:#F2F2F2;
}

#nav li
{
	float:left;
	position:relative;
	font-size: 14px;
	font-family:OpenSans,Arial,Tahoma;
}

#nav ul 
{
	position:absolute;
	display:none;
	width:130px;
}

#nav li ul
{
	top:47px;
}

#nav li ul a
{
	width:180px;
	height:auto;
	float:left;
	color:#fff;
}

#nav ul ul
{
	top:auto;
}	

#nav li ul ul 
{
	left:240px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul
{
	display:none;
	color:#F2F2F2;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul
{
	display:block;
	color:#F2F2F2;
}
