*{margin:0; padding:0;}
.mar_auto{margin:0 auto;}
.bg_white
{
	background-color:#FFFFFF;
}

img {border:0;}
h1{ font-size:15px;}

a{outline:none;}
a:link{color:#212121; text-decoration:none;}
a:visited{color:#212121;text-decoration:none;}
a:hover{color:#0474d8;}

.hidden_image
{
	display:none;
}

.required_field
{
	color:#FF3300;
}

.clr_b{clear:both;}
.fl{float:left;}
.fr{float:right;}

.li_list
{
	list-style-image:none;
	list-style:none;
}
.bold
{
	font-weight:bold;
}
.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}
.v_top{vertical-align:top;}
.v_bottom{vertical-align:bottom;}
.v_middle{vertical-align:middle;}

.font_11{font-size:11px;}
.font_12{font-size:12px;}
.font_13{font-size:13px;}
.font_14{font-size:14px;}
.font_15{font-size:15px;}
.font_16{font-size:16px;}
.font_17{font-size:17px;}
.font_18{font-size:18px;}

.text_white
{
	color:#FFFFFF;
}

.pad_5
{
	padding:5px;
}
.pad_8
{
	padding:8px;
}

.pad_10
{
	padding:10px;
}
.pad_top_3{padding-top:3px;}
.pad_top_4{padding-top:4px;}
.pad_top_5{padding-top:5px;}
.pad_top_6{padding-top:6px;}
.pad_top_7{padding-top:7px;}
.pad_top_8{padding-top:8px;}
.pad_top_9{padding-top:9px;}
.pad_top_10{padding-top:10px;}
.pad_top_11{padding-top:11px;}
.pad_top_12{padding-top:12px;}
.pad_top_15{padding-top:15px;}
.pad_top_16{padding-top:15px;}
.pad_top_20{padding-top:20px;}
.pad_top_25{padding-top:25px;}
.pad_top_30{padding-top:30px;}
.pad_top_40{padding-top:40px;}

.pad_bottom_3{padding-bottom:3px;}
.pad_bottom_4{padding-bottom:4px;}
.pad_bottom_5{padding-bottom:5px;}
.pad_bottom_6{padding-bottom:6px;}
.pad_bottom_7{padding-bottom:7px;}
.pad_bottom_8{padding-bottom:8px;}
.pad_bottom_9{padding-bottom:9px;}
.pad_bottom_10{padding-bottom:10px;}
.pad_bottom_13{padding-bottom:13px;}
.pad_bottom_15{padding-bottom:15px;}
.pad_bottom_20{padding-bottom:20px;}
.pad_bottom_25{padding-bottom:25px;}
.pad_bottom_30{padding-bottom:30px;}
.pad_bottom_40{padding-bottom:40px;}


.pad_right_3{padding-right:3px;}
.pad_right_4{padding-right:4px;}
.pad_right_5{padding-right:5px;}
.pad_right_6{padding-right:6px;}
.pad_right_7{padding-right:7px;}
.pad_right_8{padding-right:8px;}
.pad_right_9{padding-right:9px;}
.pad_right_10{padding-right:10px;}
.pad_right_15{padding-right:15px;}
.pad_right_20{padding-right:20px;}
.pad_right_25{padding-right:25px;}
.pad_right_30{padding-right:30px;}

.pad_left_3{padding-left:3px;}
.pad_left_4{padding-left:4px;}
.pad_left_5{padding-left:5px;}
.pad_left_6{padding-left:6px;}
.pad_left_7{padding-left:7px;}
.pad_left_8{padding-left:8px;}
.pad_left_9{padding-left:9px;}
.pad_left_10{padding-left:10px;}
.pad_left_12{padding-left:12px;}
.pad_left_15{padding-left:15px;}
.pad_left_20{padding-left:20px;}
.pad_left_25{padding-left:25px;}
.pad_left_30{padding-left:30px;}

.mar_top_5{margin-top:5px;}
.mar_top_10{margin-top:10px;}
.mar_top_15{margin-top:15px;}
.mar_top_20{margin-top:20px;}

.mar_bottom_5{margin-bottom:5px;}
.mar_bottom_10{margin-bottom:10px;}
.mar_bottom_15{margin-bottom:15px;}
.mar_bottom_20{margin-bottom:20px;}

.mar_right_5{margin-right:5px;}
.mar_right_10{margin-right:10px;}
.mar_right_15{margin-right:15px;}
.mar_right_20{margin-right:20px;}

.mar_left_5{margin-left:5px;}
.mar_left_7{margin-left:7px;}
.mar_left_10{margin-left:10px;}
.mar_left_15{margin-left:15px;}
.mar_left_20{margin-left:20px;}





.color_black
{
	color:#3f4040;
}

.color_black_2
{
	color:#3f4040;
}

.color_black_3
{
	color:#7b7b7b;
}

.color_blue
{
	color:#0194dd;
}

.color_blue_2
{
	color:#0091eb;
}


h1 
{
    font-size: 14px;
    font-weight: bold;
	padding-bottom:3px;
}

#bttop{border:1px solid #4adcff;background:#24bde2;text-align:center;padding:5px;position:fixed;bottom:35px;right:10px;cursor:pointer;display:none;color:#fff;font-size:11px;font-weight:900; z-index:100;}
#bttop:hover{border:1px solid #FFC;background:#CCC;}